body {
  font-family: "Trip Sans";
}

.header img {
  width: 188px;
}
.container {
  width: 1136px;
  margin: 0 auto;
  /* border-bottom: solid salmon; */
  box-sizing: border-box;
}

header {
  height: 60px;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  box-sizing: border-box;
  font-weight: bold;
  flex-shrink: 0;
}

/* ///___H_E_A_D_E_R__\\\\\ */
header li {
  /* background-color: steelblue; */
  /* border: tomato 1px solid; */
  display: flex;
  border-radius: 20%;
  padding-left: 40px;
  padding-right: 5px;
  margin: 5px;
  align-items: center;
}
header ul {
  width: 442px;
  font-size: 20px;
  /* border: rgb(5, 163, 84) 3px solid; */
  display: flex;
  justify-content: space-between;
  margin-right: 75px;
}

header li:hover {
  background-color: rgb(214, 218, 221);
  cursor: pointer;
}
header button {
  font-size: 20px;
  font-family: inherit;
  background-color: black;
  color: white;
  border-radius: 20%;
  cursor: pointer;
  margin-right: 80px;
  text-align: justify;
}
header button:hover {
  background-color: rgb(39, 42, 44);
}

h1 {
  margin-top: 40px;
  font-size: 54px;
  font-family: "Trip Sans";
  font-weight: bold;
}
.red {
  color: red;
}
nav {
  display: flex;
  margin-top: 36px;
  margin-bottom: 26px;
}

nav div {
  border: solid rgb(8, 8, 8) 2px;
  flex: 1;
  padding: 15px;
  font-size: 20px;
  display: flex;
  font-family: inherit;
  height: 87px;
  justify-content: space-between;
  cursor: pointer;
}
nav div:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(188, 197, 206);
}
nav span {
  max-width: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
}
nav div:not(:last-child) {
  margin-right: 15px;
}

.picture {
  display: flex;
  height: 430px;
  margin-top: 60px;
  margin-bottom: 600px;
}

.col1 {
  flex: 1;
  height: 100%;
  margin-right: 2px;
}
.col2 {
  width: 480px;
  height: 100%;
}
.col1 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.col2 img {
  width: 100%;
  object-fit: cover;
  height: calc(50% - 1px);
  display: block;
}
.col2 img:first-child {
  margin-bottom: 2px;
  text-align: ;
}

@media (max-width: 1184px) {
  header {
    background-color: rgb(114, 250, 159);
  }
}

@media (max-width: 1024px) {
  header {
    background-color: royalblue;
    width: 100%;
  }
}
@media (max-width: 768px) {
  header {
    background-color: salmon;
  }
}
